*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavContainer{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100px;
    background: rgb(133, 131, 131);
    color: rgb(12, 11, 11);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}