*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root{
    --h1color :rgb(12, 11, 11);

}

.app {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

body{
   /* background-color: #2f4960;
    background-image: linear-gradient(to bottom right,#2f4960 10%, #102040); */
    background-color: #659DBD;
    display: flexbox;
    


}

.Wrapper{
    width: 100%;
    height: 693px;
    
}
.Context{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 613px;
  
}

.container{
    width: 100%;
    height: 100%;
}

h1 {
    color: var(--h1color);
    display: flex;
}

.NavContainer{
   
    width: 100vw;
    height: 80px;
    background: rgb(252, 245, 245);
    color: rgb(12, 11, 11);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Logo{

    width : 10%;
    float: left;
    height: 80px;
}

.Logo:hover{
    animation: swim 0.8s infinite;
}

.Searchbar{
    display: flex;
    width: 45%;
    justify-content: flex-end;
    align-items: center;
    float: right;
}
.Link{
    display: flex;
    width : 45%;
    float : right;
    justify-content: flex-end;
}

.footer{
    width: 100vw;
    height : 60px;
    display : inline-flex;
    bottom: 0;

}

.Homestyle{
    width: 100%;
    color : wheat;
   align-items: center;
  justify-content: center;
   text-align: center;
  
}

.styledform {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom,#00BC7E,#108775);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    align-items: center;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 30px;
}

input {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
}

input::placeholder{
    color: #CCC;
}

button {
    display: flex;
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(133, 131, 131);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.navButton {
    display: flex;
    padding: 15px;
    border-radius: 8px;
    color :#8d8741;
    background-color: rgb(252, 245, 245);
    font-size: 20px;

}

.navButton :hover{
    background-color: #222;
}

/*styled the flex box*/
.box{
display: flex;
justify-content: center;
align-items: center;

}

.flexbox{
    width: 300px;
    margin: 20px;
    border : 1.5px solid #8d8741;
    background-color:rgb(252, 245, 245);
    border-radius: 5px;
}

.flexbox1{
height: 400px;
}

.flexbox2{
height: 400px;
}

.flexbox3{
height: 400px;
}
